@use '../../../styles/common';

.spinner_container {
  @include common.center-absolute-element;
  position: fixed;

  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  animation: spin 2s linear infinite;

  position: sticky;
  left: 0;
  right: 0;
  top: 200px;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}