$image-size: 100px;

.card-image__wrapper {
  width: 100%;
  height: $image-size;

  margin-bottom: 12px;
  border-bottom: 1px solid lightblue;
}

.country__flag {
  font-size: $image-size;
  line-height: 0.9;
}

.flag-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
