.details__wrapper {
  background-color: white;
  background-size: cover;
  border-radius: 12px;
  margin: 0 16px;
  overflow: auto;
  position: relative;
}

.details__content {
  margin: 8px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.details__common-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details__info-container {
  text-align: start;
  padding: 8px 4px;
}

.details__title {
  font-weight: bold;
}

.close-btn {
  $size: 42px;
  position: absolute;
  right: 12px;
  top: 12px;
  width: $size;
  height: $size;
  border-radius: calc($size / 2);

  display: flex;
  justify-content: center;
  align-items: center;

  color: wheat;
  background-color: rgba(0, 0, 0, 0.9);
}

.close__inner-text {
  font-size: 28px;
}