.header__container {
  background-color: skyblue;
  height: 72px;
  margin-bottom: 16px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.navbar__item {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;

  color: whitesmoke;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: inset 0 -4px 0 0 #239ED0;
  }
}

.navbar__link {
  color: whitesmoke;

  &:hover {
    color: whitesmoke;
  }
}